# Logs
logs
*.log

# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db
